{lib_dirs, ["deps"]}.

{deps, [
    {proper, ".*", {git, "git://github.com/manopapad/proper.git"}}
]}.

{require_otp_vsn, "R15"}.
{erl_opts,        [debug_info]}.
{xref_checks,     [undefined_function_calls]}.

{eunit_opts,      [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled,   true}.

{port_env, [
    {"darwin", "ERL_EI_LIBDIR", "/usr/local/Cellar/erlang/R15B/lib/erlang/lib/erl_interface-3.7.6/lib"},
    {"DRV_LINK_TEMPLATE", "$CC $PORT_IN_FILES $LDFLAGS $ERL_LDFLAGS -o priv/muxer"}
]}.
